@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@keyframes pulso {
  0% {
    color: #002D40;
  }
  50% {
    color: #2494AE;
    scale: 1.05;
  }
  100% {
    color: #002D40;
  }
}
@keyframes pulso {
  0% {
    color: #002D40;
  }
  50% {
    color: #2494AE;
    scale: 1.05;
  }
  100% {
    color: #002D40;
  }
}
::-webkit-scrollbar {
  background-color: transparent;
  height: auto;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #6DACBE;
  border-radius: 3px;
}

* {
  margin: 0;
  padding: 0;
  color: #002D40;
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #F1F2F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

header, footer {
  height: auto;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 8px;
}

.banner {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/fondo.jpg") fixed center;
  background-size: cover;
}
.banner svg {
  fill: #002D40;
  stroke: #6DACBE;
  height: 64px;
  width: 64px;
}
.banner h1 {
  text-shadow: 1px 1px #6DACBE;
}

.barra-navegacion {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  background-color: rgba(204, 229, 236, 0.8117647059);
  border-radius: 0 0 18px 18px;
  position: sticky;
  z-index: 3;
  top: 0;
}
.barra-navegacion ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 100%;
}
.barra-navegacion ul .icono {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  height: auto;
  width: 15vw;
  min-width: 30px;
}
.barra-navegacion ul .icono svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  fill: #002D40;
  stroke: none;
}
.barra-navegacion ul .icono .carrito {
  fill: none;
  stroke: #002D40;
}
.barra-navegacion ul .icono span {
  display: none;
}
.barra-navegacion ul .icono:hover {
  transition: 0.2s;
  color: #F1F2F6;
  background-color: #002D40;
  border-radius: 5px 5px 12px 12px;
}
.barra-navegacion ul .icono:hover svg {
  fill: #CCE5EC;
  stroke: none;
}
.barra-navegacion ul .icono:hover .carrito {
  fill: none;
  stroke: #CCE5EC;
}
.barra-navegacion ul .icono:hover span {
  color: #CCE5EC;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  max-width: 1800px;
}
.main section {
  padding-top: 40px;
}
.main .productos {
  display: grid;
  gap: 20px;
  row-gap: 20px;
}
.main .productos .producto {
  transition: 1s;
  position: relative;
  padding: 16px;
  border: 2px solid #A3C0CC;
  border-style: dotted solid;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 150px;
  min-height: 180px;
  min-width: 150px;
}
.main .productos .producto .presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .productos .producto .presentacion img {
  height: 120px;
  width: 120px;
}
.main .productos .producto .presentacion h2 {
  font-size: 12px;
}
.main .productos .producto .caracteristicas {
  transform: rotateY(180deg);
  display: none;
}
.main .productos .producto .caracteristicas h3 {
  animation: pulso 3s infinite;
  margin-bottom: 5px;
  font-size: 10px;
}
.main .productos .producto .boton {
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  border: none;
  position: absolute;
  z-index: 1;
  top: 5%;
  right: 5%;
}
.main .productos .producto .boton svg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
  fill: #002D40;
  stroke: none;
}
.main .productos .producto .boton .Cerrar-info {
  display: none;
}
.main .productos .producto:hover {
  transition: 1s;
  transform: rotateY(180deg);
}
.main .productos .producto:hover .presentacion {
  display: none;
}
.main .productos .producto:hover .boton {
  left: 5%;
}
.main .productos .producto:hover .Mostrar-info {
  display: none;
}
.main .productos .producto:hover .caracteristicas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .productos .producto:hover .Cerrar-info {
  display: block;
}
.main .tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.main .tips h2 {
  padding-bottom: 20px;
}
.main .tips .tip {
  border-radius: 20px;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 12px;
  padding: 12px;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  min-height: 180px;
}
.main .tips .tip img {
  height: 150px;
  width: auto;
  position: absolute;
  opacity: 0;
}
.main .tips .tip h3, .main .tips .tip p {
  z-index: 2;
}
.main .tips .tip p {
  font-weight: 500;
  font-size: 10px;
}
.main .tips .tip:hover {
  transition: 0.2s;
  background-color: #CCE5EC;
}
.main .tips .tip:hover img {
  right: 0;
  opacity: 0.2;
}

.contacto {
  background: url("../images/fondo.jpg") fixed center;
  background-size: cover;
  padding: 40px 0;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}
.contacto h2 {
  text-shadow: 1px 1px #6DACBE;
}
.contacto ul {
  display: grid;
  gap: 12px;
  row-gap: 12px;
  grid-template-columns: repeat(3, 1fr);
}
.contacto ul .social {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.contacto ul .social span {
  display: none;
}
.contacto ul .social svg {
  height: 32px;
  width: 32px;
}
.contacto ul .social:active {
  scale: 0.9;
}

@keyframes pulso {
  0% {
    color: #002D40;
  }
  50% {
    color: #2494AE;
    scale: 1.05;
  }
  100% {
    color: #002D40;
  }
}
@media only screen and (min-width: 350px) {
  .barra-navegacion ul .icono {
    height: auto;
    width: 50px;
  }
  .barra-navegacion ul .icono svg {
    height: 24px;
    width: 24px;
  }
}
@media only screen and (min-width: 424px) {
  .contacto ul {
    grid-template-columns: repeat(5, 1fr);
  }
  .main .productos .producto {
    height: 234px;
    width: 195px;
  }
  .main .productos .producto .presentacion {
    height: 180px;
    width: 160px;
    row-gap: 5px;
  }
  .main .productos .producto .presentacion h2 {
    font-size: 14px;
  }
  .main .productos .producto .caracteristicas h3 {
    font-size: 12px;
  }
  .main .productos .producto .caracteristicas p {
    font-size: 12px;
  }
  .main .productos .boton {
    scale: 1.3;
  }
}
@media only screen and (min-width: 460px) {
  .banner svg {
    height: 150px;
    width: 150px;
  }
  .banner h1 {
    font-size: 36px;
  }
  .barra-navegacion ul li {
    padding: 0 10px;
  }
  .barra-navegacion ul .icono {
    height: auto;
    width: 60px;
  }
  .barra-navegacion ul .icono svg {
    height: 30px;
    width: 30px;
  }
  .main h2 {
    font-size: 32px;
  }
  .main .productos {
    grid-template-columns: repeat(2, 1fr);
  }
  .main .productos .titulo-productos {
    padding: 32px 0;
    grid-column: 1/3;
  }
  .main .tips h2 {
    font-size: 32px;
    padding: 32px 0;
  }
  .main .tips .tip h3 {
    font-size: 24px;
  }
  .main .tips .tip p {
    font-size: 16px;
  }
  .contacto h2 {
    font-size: 32px;
    padding: 32px 0;
  }
  .contacto ul .social svg {
    height: 44px;
    width: 44px;
  }
}
@media only screen and (min-width: 650px) {
  .main .productos {
    grid-template-columns: repeat(3, 1fr);
  }
  .main .productos .titulo-productos {
    grid-column: 1/4;
  }
  .main .tips .tip {
    height: auto;
    width: 100%;
  }
  .contacto ul {
    grid-template-columns: repeat(9, 1fr);
  }
  .contacto ul li .social {
    row-gap: 3px;
  }
  .contacto ul li .social span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-shadow: 1px 1px #6DACBE;
  }
  .contacto ul li .social svg {
    height: 50px;
    width: 50px;
  }
}
@media only screen and (min-width: 900px) {
  ::-webkit-scrollbar {
    -webkit-transition: 0.2s;
    transition: 0.2s;
    height: auto;
    width: 8px;
  }
  .barra-navegacion ul li .icono {
    height: auto;
    width: 120px;
  }
  .barra-navegacion ul li .icono span {
    display: block;
    font-size: 16px;
  }
  .barra-navegacion ul li .icono:hover {
    border-radius: 8px 8px 16px 16px;
  }
  .main .tips .tip {
    height: 300px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main .tips .tip h3 {
    padding-left: 30px;
    height: auto;
    width: 40%;
    letter-spacing: 5px;
  }
  .main .tips .tip p {
    font-size: 18px;
    height: auto;
    width: 60%;
  }
  .main .tips .tip img {
    left: 150px;
  }
  .contacto ul li .social span {
    font-size: 20px;
  }
  .contacto ul li .social svg {
    height: 64px;
    width: 64px;
  }
}
@media only screen and (min-width: 1100px) {
  .main .productos .producto {
    height: 320px;
    width: 290px;
    border-width: 4px;
  }
  .main .productos .producto .presentacion img {
    height: 200px;
    width: 180px;
  }
  .main .productos .producto .presentacion h2 {
    padding-top: 20px;
    font-size: 18px;
  }
  .main .productos .producto .caracteristicas h3 {
    font-size: 16px;
    padding-bottom: 10px;
  }
  .main .productos .producto .caracteristicas p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1600px) {
  .main .productos {
    gap: 40px;
    row-gap: 40px;
  }
  .main .productos .producto {
    height: 396px;
    width: 330px;
  }
  .main .productos .producto .presentacion img {
    height: 242px;
    width: 218px;
  }
  .main .productos .producto .presentacion h2 {
    font-size: 22px;
  }
  .main .productos .producto .caracteristicas h3 {
    font-size: 18px;
  }
  .main .productos .producto .caracteristicas p {
    font-size: 18px;
  }
}/*# sourceMappingURL=styles.css.map */